@import '../utils/textUti.scss' ;
@import '../base/colorBace.scss' ;


@mixin buttonPrins {
    border: solid 3px $color_black ;
    border-radius: 25px ;
    background-color: transparent ;
    color: $color_black ;
    padding: 10px 20px ;
    a {
        @include fontText ;
        color: $color_black;
    }
}

@mixin mixButtonRRSS {
    border: none ;
    background: transparent ;
    padding: 2% 4% ;
        img {
            width: 32px ;
            height: 32px ;
        }
}