@import '../base/colorBace.scss' ;
@import '../utils/textUti.scss' ;

// card about home mobile
@mixin cardAbout {
    .cont_cardAbout {
        border: solid 2px $color_black ;
        padding: 5% ;
        border-radius: 20px ;
    }

    .img_cardAbout {
        width: 20px ;
        height: 20px ;
    }

    .title_cardAbout {
        @include fontTitleCardAbout ;
    }

    .text_cardAbout {
        @include fontTextCardAbout ;
    }
}

// card about home desktop
@mixin cardAbout_desktop {
    .cont_cardAbout {
        padding: 10% ;
    }
    .img_cardAbout {
        width: 30px ;
        height: 30px ;
    }
    .title_cardAbout {
        font-size: 20px ;
    }
    .text_cardAbout {
        font-size: 16px ;
    }
}