@import '../utils/textUti.scss' ;


.contHeader {
    width: 100% ;
    padding: 7% 5% ;

    .contSecondHeader {
        display: flex ;
        justify-content: space-between ;

        .title_header {
            @include fontHeader ;
        }
        .btn_darkmode {
            width: 50px ;
            height: 50px ;
            border-radius: 50% ;
            background: transparent ;
            border: solid 2px $color_blackLigth ;
            .img_darkmode {
                width: 30px ;
                height: 30px ;
            }
        }
    }
}

.contFooter {
    padding: 5% ;
    background-color: $color_whiteLigth ;
    margin-bottom: 60px ;

    .contSecondFooter {
        text-align: center ;

        .textFooter {
            @include fontFooter ;
        }

    }
}