/*

// Movil
@media ( max-width: $querisMovil ) {}
// Tablet
@media (min-width: $querisMovil ) and (max-width: $querisDesktop ) {}
// Desktop
@media (min-width: $querisDesktop ) {}

*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
/*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
@media (min-width: 1024px) {
  .sectServices .sectServices_contText {
    margin-bottom: 50px;
  }
  .sectServices .sectServices_contCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 30px;
  }
  .sectServices .sectServices_contCard .contCard_serv {
    width: 60%;
    height: 87%;
    margin: auto;
    margin-top: 0px;
  }
  .sectServices .sectServices_contCard .contCard_serv .contCard_serv_title {
    font-size: 30px;
  }
  .sectServices .sectServices_contCard .contCard_serv .contCard_serv_contItem_itemImg {
    width: 40px;
    height: 40px;
  }
  .sectServices .sectServices_contCard .contCard_serv .contCard_serv_contItem_itemText {
    font-size: 20px;
  }
  .sectServices .sectServices_contCard_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
  }
  .sectServices .sectServices_contCard_2 .contCard_serv {
    width: 60%;
    height: 87%;
    margin: auto;
    margin-top: 0px;
  }
  .sectServices .sectServices_contCard_2 .contCard_serv .contCard_serv_title {
    font-size: 30px;
  }
  .sectServices .sectServices_contCard_2 .contCard_serv .contCard_serv_contItem_itemImg {
    width: 40px;
    height: 40px;
  }
  .sectServices .sectServices_contCard_2 .contCard_serv .contCard_serv_contItem_itemText {
    font-size: 20px;
  }
  .sectServices .sectServices_contCard_3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0% 23%;
    margin-bottom: 30px;
  }
  .sectServices .sectServices_contCard_3 .contCard_serv {
    width: 60%;
    height: 87%;
    margin: auto;
    margin-top: 0px;
  }
  .sectServices .sectServices_contCard_3 .contCard_serv .contCard_serv_title {
    font-size: 30px;
  }
  .sectServices .sectServices_contCard_3 .contCard_serv .contCard_serv_contItem_itemImg {
    width: 40px;
    height: 40px;
  }
  .sectServices .sectServices_contCard_3 .contCard_serv .contCard_serv_contItem_itemText {
    font-size: 20px;
  }
}
@media (min-width: 780px) and (max-width: 1024px) {
  .sectServices .sectServices_contText {
    margin-bottom: 50px;
  }
  .sectServices .sectServices_contCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .sectServices .sectServices_contCard .contCard_serv {
    width: 60%;
    height: 87%;
    margin: auto;
    margin-top: 0px;
  }
  .sectServices .sectServices_contCard .contCard_serv .contCard_serv_title {
    font-size: 30px;
  }
  .sectServices .sectServices_contCard .contCard_serv .contCard_serv_contItem_itemImg {
    width: 40px;
    height: 40px;
  }
  .sectServices .sectServices_contCard .contCard_serv .contCard_serv_contItem_itemText {
    font-size: 20px;
  }
  .sectServices .sectServices_contCard .contCard_serv {
    width: 85%;
  }
  .sectServices .sectServices_contCard_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .sectServices .sectServices_contCard_2 .contCard_serv {
    width: 60%;
    height: 87%;
    margin: auto;
    margin-top: 0px;
  }
  .sectServices .sectServices_contCard_2 .contCard_serv .contCard_serv_title {
    font-size: 30px;
  }
  .sectServices .sectServices_contCard_2 .contCard_serv .contCard_serv_contItem_itemImg {
    width: 40px;
    height: 40px;
  }
  .sectServices .sectServices_contCard_2 .contCard_serv .contCard_serv_contItem_itemText {
    font-size: 20px;
  }
  .sectServices .sectServices_contCard_2 .contCard_serv {
    width: 85%;
  }
  .sectServices .sectServices_contCard_3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0% 23%;
  }
  .sectServices .sectServices_contCard_3 .contCard_serv {
    width: 60%;
    height: 87%;
    margin: auto;
    margin-top: 0px;
  }
  .sectServices .sectServices_contCard_3 .contCard_serv .contCard_serv_title {
    font-size: 30px;
  }
  .sectServices .sectServices_contCard_3 .contCard_serv .contCard_serv_contItem_itemImg {
    width: 40px;
    height: 40px;
  }
  .sectServices .sectServices_contCard_3 .contCard_serv .contCard_serv_contItem_itemText {
    font-size: 20px;
  }
  .sectServices .sectServices_contCard_3 .contCard_serv {
    width: 85%;
  }
}/*# sourceMappingURL=bp_services.css.map */